:root {
  --primary: #257e25;
  --primaryLight: #ceec97;
  --secondary: #40798c;
  --bgLight: #f4f4f6;
  --bgDark: #495549;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

main {
  padding: 50px;
  min-height: 70%;
  height: min-content;
  box-sizing: border-box;
  background-color: var(--bgLight);
}

button {
  width: fit-content;
  height: fit-content;
  padding: 15px;
  cursor: pointer;
}

h2 {
  font-size: 40px;
  margin: 0;
  color: var(--primary);
}
h3 {
  font-size: 32px;
  margin: 0;
  color: var(--primary);
}
h4 {
  font-size: 26px;
  margin: 0;
  color: var(--primary);
}
h5 {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
}

p,
li {
  font-size: 18px;
}

#header {
  height: 10%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary);
  box-sizing: border-box; /* Tenho duvidas */

  align-items: center;
  padding: 0 50px;
}

#headerRightSide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.logoImg {
  cursor: pointer;
  background-color: white;
  color: black;
  width: fit-content;
  height: fit-content;
  padding: 15px;
}

#footer {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: var(--primary);
  color: white;
  padding: 50px;
}

#footerLeftSide {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  gap: 15px;
}

#footerRightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.footerH6 {
  font-size: 32px;
  margin: 8px;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;

  padding: 30px 0;

  border-top: 2px solid var(--secondary);
}

#form button {
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}

#form button:hover {
  background-color: var(--secondary);
  transition: 400ms;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formItem input {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid var(--secondary);
}

.select {
  padding: 7px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid var(--secondary);
}

input[type="checkbox"] {
  /* I could not apply styles on it */
  margin-top: 20px;
}

#insertItem {
  border-top: 2px solid var(--secondary);
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

#insertItem button {
  grid-column: 1;

  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  align-self: center;
}

#insertItem button:hover {
  background-color: var(--secondary);
  transition: 400ms;
}

.item {
  border: double var(--secondary);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  gap: 5px;
  cursor: pointer;
}

.item:hover {
  border: double red;
  transition: 400ms;
}

@media (max-width: 1400px) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  #footer {
    height: fit-content; /* I thought that here was min-height */
  }
  #footer p {
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  .form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  #insertItem {
    border-top: 2px solid var(--secondary);
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  #footer {
    height: fit-content; /* I thought that here was min-height */
  }
  #footer p {
    font-size: 14px;
  }

  .footerH6 {
    font-size: 22px;
    margin: 8px;
  }
}
